
.footer {
    display: inline-block;
    margin-right: 95px;
    margin-left: 16px;
   
}

.footer-one {
    /* border: 1px solid white; */
    margin-block-start: 0; 
}




.footer-aux {
    display: inline-block;
    margin-right: 16px;
    color: white;

}.footer-tree {
    margin-block-start: 0;
}